.root {
    -fx-background-color:#666666;
    -fx-font-size: 12pt;
    -fx-hgap:5;
    -fx-vgap:5;
    
}

.button {
    -fx-min-width: 100px;
    -fx-min-height: 100px;
}

#emptySquare {
    -fx-background-color: transparent;
    -fx-text-fill:transparent;
}
#meny {
    -fx-min-height: 20px;
}


